.quote-section {
    display: flex;
    border: 2px solid red;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #E5E7EB;
}

.quote-text {
    border: 2px solid red;
    width: 700px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-speaker {
    border: 2px solid red;
    display: flex;
    justify-content: end;
    width: 700px;
    font-size: 24px;
    font-weight: bold;
}