.cto-section {
    border: 2px solid red;
    display: flex;
    padding: 50px;
    justify-content: center;
}

.cto-box {
    border: 2px solid red;
    width: 900px;
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 10px;
}

.cto-nest {
    border: 2px solid red;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cto-text {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.cto-text .cto-text-heading {
    border: 2px solid blue;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

.cto-text .cto-text-desc {
    border: 1px solid rgb(255, 0, 119);
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.call-to-action-button {
    background-color: #3882F6;
    font-size: 16px;
    width: 120px;
    height: 35px;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 5px;
    font-weight: 900;
}
