.projects-section {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
}

.projects-title {
    border: 2px solid red;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.projects-table {
    border: 2px solid red;
    display: flex;
}

.project-box {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    align-items: center;
    
}

.project-imgs {
    border: 4px solid #3882F6;
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
}

.project-imgs img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-desc {
    border: 2px solid red;
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}





